<ion-view view-title="Add a Reminder">

  <ion-content>    
  <div class="list"></div>
  <div class="list"></div>
  <div class="list"></div>

    <div class="list">
      <a class="item item-icon-left" href="#" style="border:none;margin-bottom:15px">
        <i class="icon ion-android-calendar"></i>
      </a>

      <a class="item item-icon-left" href="#" style="border:none">
        <i class="icon ion-android-time"></i>
      </a>
    </div>

    <div class="row responsive-sm">
      <div class="col">Notes:</div>
      <div class="col">
        <label class="item item-input">
            <textarea style="resize:none" rows="8" cols="50"></textarea>
        </label>

      </div>
      <div class="col">
          
        <button class="button button-full button-balanced">
                           Save
                              </button>
      </div>
    </div>
  </ion-content>
</ion-view>
