<ion-view view-title="Creators Information">
  <ion-content>
     <a class="item item-thumbnail-left">
      <img src="/img/name.jpg">
      <h2 style="font-weight:bold">Name</h2>
      <p>John Arthur Wong Madrona</p>
      <p>20 yrs old</p>
      <p></p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="/img/must.png">
      <h2 style="font-weight:bold;">Education</h2>
      <p>Mindanao University of</p>
      <p>Science and Technology</p>
      <p>BSIT-4</p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="/img/dota.png">
      <h2 style="font-weight:bold;">Hobby</h2>
      <p>Hard Support ( DOTA2 )</p>
      <p>RIG ENTHUSIAST</p>
      <p></p>
    </a>
   </ion-content>
</ion-view>