<ion-view view-title="References">
  <ion-content>
   <div class="list">
<!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/search">

        {{playlist.title}}  
      </ion-item>
    </ion-list> -->
   <a class="item item-thumbnail-left">
      <img src="/img/ionic.png">
      <h2 style="font-weight:bold">Ionic Framework</h2>
      <p>Free and open source. </p>
      <p>Built with Sass, optimized for</p>
      <p>AngularJS.</p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="/img/angular.jpg">
      <h2 style="font-weight:bold">Angular JS</h2>
      <p>A toolset for building the</p>
      <p>framework most suited to</p>
      <p>your application development.</p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="/img/html.png">
      <h2 style="font-weight:bold">HTML 5</h2>
      <p>is a markup language used for</p>
      <p>structuring and presenting</p>
      <p>content on the World Wide Web.</p>
    </a>
    <a class="item item-thumbnail-left">
      <img src="/img/css.png">
      <h2 style="font-weight:bold">CSS 3</h2>
      <p>CSS3 is the latest standard for</p>
      <p>CSSC.It is completely backwards-compatible</p>
      <p>with earlier versions of CSS.</p>
    </a>
     <a class="item item-thumbnail-left">
      <img src="/img/node.png">
      <h2 style="font-weight:bold">NodeJS</h2>
      <p>Event-driven I/O server-side</p>
      <p>JavaScript environment</p>
      <p>based on V8.</p>
    </a>
       <a class="item item-thumbnail-left">
      <img src="/img/sublime.png">
      <h2 style="font-weight:bold">Sublime Text 3</h2>
      <p>Sublime Text is a sophisticated</p>
      <p>text editor for code, markup</p>
      <p>and prose.</p>
    </a>


</div>
  </ion-content>
</ion-view>
