<ion-view view-title="Reminders">
  <ion-content>
    <div class="list">
    
    <a class="item item-icon-right" href="#" style="border:none;margin-top:15px">
        <i class="icon ion-android-more-vertical"></i>
      </a>

	    <!--<div class="item item-button-right" style="height:54px;border:none">
            <div class="buttons">
                <button class="button button-light">
                    <i class="icon icon ion-android-more-vertical"></i>
                </button>
                <button class="button button-assertive">
                    <i class="icon icon ion-ios-trash-outline"></i>
                </button>
            </div>-->
        </div>
	</div>

	<div class="list">
      <a class="item item-icon-left" href="#" style="border:none;margin-bottom:15px;margin-top:10px">
        <i class="icon ion-android-calendar"></i>
      </a>

      <a class="item item-icon-left" href="#" style="border:none">
        <i class="icon ion-android-time"></i>
      </a>
    </div>
    

    <div class="row responsive-sm">
      <div class="col">Notesusad:</div>
      <div class="col">
        <label class="item item-input">
            <textarea style="resize:none" rows="8" cols="50"></textarea>
        </label>

      </div>
    </div>

  </ion-content>
</ion-view>
